#gameImage {
  width: 400px;
  height: 400px;
}

.gameContent {
  text-align: center;
  line-height: 3;
}

p {
  font-weight: bold;
  font-size: 20px;
}

#gameWord {
  letter-spacing: 10px;
  font-size: 30px;
}